table{
  text-align:center;
  font-color:white;
  border-color:lightgreen;
  background-color:black;
 }
td::hover,td::hover{
  background-color:lightgreen;
}
table::nthchild(even){
  background-color:orange;
 }
