table{
  text-align:center;
  align-text:center;
  color:black;
  border-color:yellow;
  background-color:white;
  font-size:30px;
 }
td:hover,th:hover{
  background-color:lightgreen;
}
tr:nth-child(odd){
  background-color:orange;
  color:white;
 }
th{
  font-size:50px;
  font-style:bold;
 }
